body {
  background-image: url(fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.inputAdd {
  display: flex;
  justify-content: center;
}

.delete {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(199, 126, 126, 0.5);
  margin-top: 5%;
  width: 80%;
  border-radius: 10px;
  border: solid 5px rgba(199, 126, 126, 0.567);
  min-height: 70vh;
}

.header {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: brown;
  text-shadow: #333 -1px -1px 0, #fff 1px 1px 0;
  font-size: 28px;
}

.BtnDelete, .BtnAdd, li, ul, input {
  padding: 10px;
  font-size: 30px;
  margin: 10px;
  border-radius: 15px;
}


input {
  color: brown;
  border: solid 10px rgba(199, 126, 126, 0.567);
}

.crossed {
  text-decoration: line-through 2px black;
}

li {
  list-style-type: none;
  color: rgb(119, 34, 34);
  font-size: 34px;
}

.listUl {
  display: flex;
  justify-content: center;
}

.BtnAdd {
  padding: 7px;
  border: solid 10px rgba(199, 126, 126, 0.567);
}

.BtnDelete {
  color: brown;
  border: solid 10px rgba(199, 126, 126, 0.567);
  border-radius: 15px;
  text-shadow: #333 -1px -1px 0, #fff 1px 1px 0;
  margin: 15%;
}





@media all and (max-width: 1100px) {

  .container {
    margin-top: 1%;
    width: 80%;
    border-radius: 10px;
    min-height: 30vh;
  }
  
  .header {
    margin: 10px;
    font-size: 28px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 30px;
    margin: 10px;
    border-radius: 15px;
  }
  
  li {
    font-size: 34px;
  }

  .BtnAdd {
    padding: 7px;
  }
  
  .BtnDelete {
    margin: 15%;
  }
}


@media all and (max-width: 1000px) {

  .container {
    margin-top: 10%;
    width: 80%;
    border-radius: 10px;
    min-height: 60vh;
  }
  
  .header {
    margin: 10px;
    font-size: 34px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 38px;
    margin: 10px;
    border-radius: 15px;
  }
  
  li {
    font-size: 38px;
  }

  .BtnAdd {
    padding: 7px;
  }
  
  .BtnDelete {
    margin: 15%;
  }
}

@media all and (max-width: 800px) {

  .container {
    margin-top: 10%;
    width: 80%;
    border-radius: 10px;
    min-height: 60vh;
  }
  
  .header {
    margin: 10px;
    font-size: 28px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 30px;
    margin: 10px;
    border-radius: 15px;
  }
  
  li {
    font-size: 34px;
  }

  .BtnAdd {
    padding: 7px;
  }
  
  .BtnDelete {
    margin: 15%;
  }
}

@media all and (max-width: 600px) {

  .container {
    margin-top: 15%;
    width: 80%;
    border-radius: 10px;
    min-height: 45vh;
  }
  
  .header {
    margin: 10px;
    font-size: 18px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    border-radius: 15px;
  }
  
  li {
    font-size: 24px;
    padding: 3px;
  }

  .BtnAdd {
    padding: 7px;
    border: solid 5px rgba(199, 126, 126, 0.567);
  }

  input {
    border: solid 5px rgba(199, 126, 126, 0.567);
  }
  
  .BtnDelete {
    margin: 15%;
    border: solid 5px rgba(199, 126, 126, 0.567);
  }
}



@media all and (max-width: 500px) {

  .container {
    margin-top: 15%;
    width: 80%;
    border-radius: 10px;
    min-height: 60vh;
  }
  
  .header {
    margin: 10px;
    font-size: 18px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 15px;
  }
  
  li {
    font-size: 20px;
  }

  .BtnAdd {
    padding: 7px;
    border: solid 5px rgba(199, 126, 126, 0.567);
  }

  input {
    border: solid 5px rgba(199, 126, 126, 0.567);
  }
  
  .BtnDelete {
    margin: 15%;
    border: solid 5px rgba(199, 126, 126, 0.567);
  }
}



@media all and (max-width: 400px) {

  .container {
    margin-top: 15%;
    width: 80%;
    border-radius: 10px;
    min-height: 45vh;
  }
  
  .header {
    margin: 10px;
    font-size: 18px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 12px;
    margin: 10px;
    border-radius: 15px;
  }
  
  li {
    font-size: 18px;
  }

  .BtnAdd {
    padding: 7px;
    border: solid 5px rgba(199, 126, 126, 0.567);
  }

  input {
    border: solid 5px rgba(199, 126, 126, 0.567);
  }
  
  .BtnDelete {
    margin: 15%;
    border: solid 5px rgba(199, 126, 126, 0.567);
  }
}

@media all and (max-width: 300px) {

  .container {
    margin-top: 15%;
    width: 80%;
    border-radius: 10px;
    min-height: 45vh;
  }
  
  .header {
    margin: 10px;
    font-size: 14px;
  }
  
  .BtnDelete, .BtnAdd, li, ul, input {
    padding: 10px;
    font-size: 10px;
    margin: 5px;
    border-radius: 15px;
  }
  
  li {
    font-size: 14px;
    padding: 2px;
  }

  .BtnAdd {
    padding: 10px;
    border: solid 2px rgba(199, 126, 126, 0.567);
  }

  input {
    border: solid 2px rgba(199, 126, 126, 0.567);
  }
  
  .BtnDelete {
    margin: 5%;
    border: solid 2px rgba(199, 126, 126, 0.567);
    padding: 4px;
  }
}

